body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*#grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.7fr 1.1fr;
    grid-template-areas: "Buscar Buscar Buscar Search" "Reproductor Reproductor Reproductor Search" "Playlist Playlist Playlist Search";
}

#Buscar {
    grid-area: Buscar;
}

#ListaVideosDIV {
    grid-area: Search;
}

#Reproductor {
    grid-area: Reproductor;
}

#Playlist {
    grid-area: Playlist;
}*/


